In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
import requests
from pyspark.sql.functions import col

In [3]:
etfs = requests.get('https://sgk6cc5a25.execute-api.sa-east-1.amazonaws.com/Prod/api/v1/etf/tickers').json()
etfs = [i['ticker'] for i in etfs]
etfs

['IMAB11',
 'USTK11',
 '5GTK11',
 'XFIX11',
 'NASD11',
 'BOVS11',
 'BDAP11',
 'B5P211',
 'HTEK11',
 'SCVB11',
 'ESGE11',
 'TECK11',
 'BRAX11',
 'BBSD11',
 'MILL11',
 'QETH11',
 'SMAC11',
 'WEB311',
 'BBOI11',
 'BREW11',
 'BMMT11',
 'BTEK11',
 'SHOT11',
 'ESGB11',
 'BDEF11',
 'REVE11',
 'ETHE11',
 'ACWI11',
 'GOLD11',
 'FOOD11',
 'CRPT11',
 'EURP11',
 'ELAS11',
 'WRLD11',
 'BXPO11',
 'NSDV11',
 'BBOV11',
 'IBOB11',
 'XBOV11',
 'LFTS11',
 'QBTC11',
 'CMDB11',
 'FIND11',
 'GENB11',
 'NDIV11',
 'BOVB11',
 'QDFI11',
 'IMBB11',
 'BLOK11',
 'IRFM11',
 'BOVV11',
 'B5MB11',
 'SMAL11',
 'ESGU11',
 'BCIC11',
 'PEVC11',
 'CORN11',
 'USAL11',
 'FIXA11',
 'BITH11',
 'IVVB11',
 'SPXB11',
 'BOVA11',
 'IB5M11',
 'META11',
 'XINA11',
 'BOVX11',
 'BITI11',
 'HASH11',
 'DIVO11',
 'BDOM11',
 'SPXI11',
 'YDRO11',
 'ISUS11',
 'JOGO11',
 'MATB11',
 'NTNS11',
 'TRIG11',
 'URET11',
 'GURU11',
 'DEFI11',
 'GOVE11',
 'SVAL11',
 'AGRI11',
 'ESGD11',
 'PIBB11',
 'DVER11',
 'DEBB11',
 'ALUG11',
 'DNAI11',
 'TECB11',
 'SMAB11',
 'NFTS11',
 'ECOO11',
 'UTEC11']

In [5]:
negociacao = spark.read.parquet('../files/bronze/negociacao')

In [6]:
negocicacao_silver = negociacao.where(col('CodNeg').isin(etfs))\
    .select(['Data',
             'CodNeg',
             'CodBdi',
             'Empresa',
             'Especificacao',
             'Moeda',
             'PrecoAbertura',
             'PrecoUltimo',
             'NumeroNegocio',
             'VolumeFinanceiro',
             'QuantidadeNegociada',
             ])

In [7]:
negocicacao_silver.toPandas()

,Data,CodNeg,CodBdi,Empresa,Especificacao,Moeda,PrecoAbertura,PrecoUltimo,NumeroNegocio,VolumeFinanceiro,QuantidadeNegociada
0,2023-07-03,USAL11,14,TREND US LRG,CI,R$,8.920000,9.000000,396.00,7560604.00,8534.00
1,2023-07-03,WEB311,14,SMART HASH,CI,R$,13.200000,13.590000,35.00,2079866.00,1532.00
2,2023-07-03,BRAX11,14,ISHARES BRAX,CI,R$,96.410000,99.210000,25.00,8267754.00,839.00
3,2023-07-03,BREW11,14,B INDEX BREW,CI,R$,116.950000,117.100000,4.00,2544747.00,217.00
4,2023-07-03,GOLD11,14,TREND OURO,CI,R$,9.760000,9.730000,2349.00,224931566.00,231018.00
...,...,...,...,...,...,...,...,...,...,...,...
80291,2005-12-23,PIBB11,14,PIBB,CI,R$,48.000000,47.900000,88.00,191140400.00,39800.00
80292,2005-12-26,PIBB11,14,PIBB,CI,R$,47.990000,47.700000,79.00,236956600.00,49900.00
80293,2005-12-27,PIBB11,14,PIBB,CI,R$,47.700000,47.800000,91.00,283671100.00,59300.00
80294,2005-12-28,PIBB11,14,PIBB,CI,R$,47.750000,47.500000,82.00,210560100.00,44300.00
80295,2005-12-29,PIBB11,14,PIBB,CI,R$,47.690000,47.750000,91.00,229878700.00,48200.00