In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

24/02/12 19:13:56 WARN Utils: Your hostname, Mac-Pro-de-Caio-Ruiz.local resolves to a loopback address: 127.0.0.1; using 192.168.15.5 instead (on interface en2)
24/02/12 19:13:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/12 19:13:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
import requests
from pyspark.sql.functions import col

/Users/caio/PycharmProjects/etf-data-pipeline/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [3]:
etfs = requests.get('https://sgk6cc5a25.execute-api.sa-east-1.amazonaws.com/Prod/api/v1/etf/tickers').json()
etfs = [i['ticker'] for i in etfs]
etfs

['IMAB11',
 'USTK11',
 '5GTK11',
 'XFIX11',
 'NASD11',
 'BOVS11',
 'BDAP11',
 'B5P211',
 'HTEK11',
 'SCVB11',
 'ESGE11',
 'TECK11',
 'BRAX11',
 'BBSD11',
 'MILL11',
 'QETH11',
 'SMAC11',
 'WEB311',
 'BBOI11',
 'BREW11',
 'BMMT11',
 'BTEK11',
 'SHOT11',
 'ESGB11',
 'BDEF11',
 'REVE11',
 'ETHE11',
 'ACWI11',
 'GOLD11',
 'FOOD11',
 'CRPT11',
 'EURP11',
 'ELAS11',
 'WRLD11',
 'BXPO11',
 'NSDV11',
 'BBOV11',
 'IBOB11',
 'XBOV11',
 'LFTS11',
 'QBTC11',
 'CMDB11',
 'FIND11',
 'GENB11',
 'NDIV11',
 'BOVB11',
 'QDFI11',
 'IMBB11',
 'BLOK11',
 'IRFM11',
 'BOVV11',
 'B5MB11',
 'SMAL11',
 'ESGU11',
 'BCIC11',
 'PEVC11',
 'CORN11',
 'USAL11',
 'FIXA11',
 'BITH11',
 'IVVB11',
 'SPXB11',
 'BOVA11',
 'IB5M11',
 'META11',
 'XINA11',
 'BOVX11',
 'BITI11',
 'HASH11',
 'DIVO11',
 'BDOM11',
 'SPXI11',
 'YDRO11',
 'ISUS11',
 'JOGO11',
 'MATB11',
 'NTNS11',
 'TRIG11',
 'URET11',
 'GURU11',
 'DEFI11',
 'GOVE11',
 'SVAL11',
 'AGRI11',
 'ESGD11',
 'PIBB11',
 'DVER11',
 'DEBB11',
 'ALUG11',
 'DNAI11',
 'TECB11',
 'SMAB11',
 'NFTS11',
 'ECOO11',
 'UTEC11']

In [4]:
negociacao = spark.read.parquet('../bronze/negociacao')

In [5]:
negocicacao_silver = negociacao.where(col('CodNeg').isin(etfs))\
    .select(['Data',
             'CodNeg',
             'CodBdi',
             'Empresa',
             'Especificacao',
             'Moeda',
             'PrecoAbertura',
             'PrecoUltimo',
             'NumeroNegocio',
             'VolumeFinanceiro',
             'QuantidadeNegociada',
             ])

In [6]:
negocicacao_silver.toPandas()

24/02/12 19:14:09 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

,Data,CodNeg,CodBdi,Empresa,Especificacao,Moeda,PrecoAbertura,PrecoUltimo,NumeroNegocio,VolumeFinanceiro,QuantidadeNegociada
0,2023-09-13,SVAL11,14,INVESTO SVAL,CI,R$,98.020000,96.890000,8.00,6138240.00,630.00
1,2023-09-13,TECB11,14,TECH BRASIL,CI,R$,17.670000,17.730000,26.00,1720790.00,970.00
2,2023-09-13,TECK11,14,IT NOW TECK,CI,R$,50.720000,50.590000,34.00,12630573.00,2500.00
3,2023-09-13,ISUS11,14,IT NOW ISE,CI,R$,34.410000,34.290000,3.00,1242624.00,362.00
4,2023-09-13,MILL11,14,IT NOW MILL,CI,R$,48.300000,48.430000,20.00,1680467.00,349.00
...,...,...,...,...,...,...,...,...,...,...,...
80291,2015-12-30,MATB11,14,IT NOW IMAT,CI,R$,13.550000,13.550000,1.00,35921050.00,26510.00
80292,2015-12-30,PIBB11,14,IT NOW PIBB,CI,R$,75.820000,75.000000,684.00,825362680.00,110000.00
80293,2015-12-30,SMAL11,14,ISHARES SMAL,CI,R$,41.140000,41.530000,5.00,1649620.00,400.00
80294,2015-12-30,SPXI11,14,IT NOW SPXI,CI,R$,83.100000,83.100000,10.00,1426827000.00,171700.00
80295,2015-12-30,XBOV11,14,CAIXAETFXBOV,CI,R$,40.000000,43.340000,47.00,176346210.00,40650.00