In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
negocicacao_etf_silver = spark.read.parquet('../files/silver/negociacao_etf')

In [3]:
negociacao_etf_gold = negocicacao_etf_silver.select(['CodNeg', 'Data', 'PrecoAbertura', 'PrecoUltimo'])

In [4]:
negociacao_etf_gold.toPandas()

       CodNeg        Data PrecoAbertura PrecoUltimo
0      BOVA11  2014-07-22     56.000000   56.450000
1      BOVA11  2014-07-23     56.000000   55.930000
2      BOVA11  2014-07-24     56.150000   56.390000
3      BOVA11  2014-07-25     56.300000   56.340000
4      BOVA11  2014-07-28     56.370000   56.160000
...       ...         ...           ...         ...
80291  BBOI11  2022-12-05      9.350000    8.980000
80292  BBOI11  2022-12-07      8.840000    8.880000
80293  BBOI11  2022-12-09      9.000000    8.900000
80294  BBOI11  2022-12-08      8.710000    8.980000
80295  ISUS11  2011-11-03     19.900000   19.900000

[80296 rows x 4 columns]